<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span></span>
    <span class="example-spacer"></span>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Google</a>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="center">

<h1>Sie wurden eingeloggt</h1>
<h2>Hello {{userservice.user.username}}</h2>

  <h3 id="titel">Meerschweinchen</h3>
  <p id="inhalt">Inhalt</p>
  <p id="inhalt2">- Rassen</p>
  <p id="inhalt3">- Haltung</p>
  <p id="inhalt4">- Nahrung</p>
  <p id="untertitel">Rassen</p>

</div>

<div class="cards-wrapper">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rosetten Meerschweinchen</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.tierchenwelt.de/images/stories/haustiere/meerschweinchen/rosetten_meerschweinchen_wirbel_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>US Teddy Meerschweinchen</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.pinimg.com/originals/98/c3/55/98c3551d286f554d13cdbb9d2f17aa4e.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Sheltie</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.tierchenwelt.de/images/stories/haustiere/meerschweinchen/coronet_meerschweinchen_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Rex</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.tierchenwelt.de/images/stories/haustiere/meerschweinchen/rex_meerschweinchen_kraus_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>American Crested</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://american-crested.com/wp-content/uploads/2018/05/web_Marmadukeapril.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Peruanisches Meerschweinchen</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.zdf.de/assets/meerschweinchen-rasse-100~3840x2160?cb=1569241162032" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Skinny Pig</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://squeaksandnibbles.com/wp-content/uploads/2018/01/Skinny-Pig-Breed-Information-SN-long.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Englisches Meerschweinchen</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.meerschweinchen-wissen.de/wp-content/uploads/wie-alt-werden-meerschweinchen.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Himalaya Meerschweinchen</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://image.jimcdn.com/app/cms/image/transf/none/path/s8aca6e3cb8dcc11f/image/i58ea41d7f98c826d/version/1542029068/image.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Texel</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.tierchenwelt.de/images/stories/haustiere/meerschweinchen/texel_meerschweinchen_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cuy</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.inkatrotter.com/redx/tools/mb_image.php/cid.y3bc671a03a914ee5/gid.31/cuy3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>English Crested Guinea Pig</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.animalfunfacts.net/images/stories/pets/guinea_pigs/english_crested_guinea_pig_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Coronet</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.tierchenwelt.de/images/stories/haustiere/meerschweinchen/coronet_meerschweinchen_langhaar_l.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Satin</mat-card-title>
      <mat-card-subtitle>Meerschweinchen Rasse</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.guineapiggles.co.uk/sites/default/files/styles/scale_720x500_manual_crop/public/satin-guinea-pig.jpg?itok=mhSyqUFZ&c=6c46e4b4924fd4ffc4db1cb93ed5f829" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="center">
  <p id="untertitel2">Haltung</p>
  <p id="haltung">Meerschweinchen sind Gruppentiere,
    sie sollten niemals alleine gehalten werden.
    Es sollten mindestens zwei, am besten vier oder mehr Tiere sein.
    Normalerweise verstehen sich Weibchen immer recht gut, während Männchen
    (sogenannte Böcke) schwieriger sind und für Anfänger nicht zu empfehlen.</p>
  <p id="untertitel3">Nahrung</p>
  <p id="nahrung">Gutes Heu duftet angenehm würzig, ist staubarm und wird gerne gefressen.
    Es darf nie ausgehen und sollte öfters ausgetauscht werden,
    so dass die Meerschweinchen sich die bevorzugten Halme raussuchen können.
    Als Frischfutter geeignet sind Gras und Wiesenpflanzen, alle Obst- und Gemüsesorten, Zweige und Küchenkräuter.</p>
</div>
